 #appBg{

    height: 420px;
    width: 300xp;
    border: 1px solid black;
    border-radius: 5px;
    
 }

 #appBg form {

    height: 100%;
    width: 100%;
    background-color: rgb(0, 0,0);

 }

 #appBg input[type=textfield]{
    height: 25%;
    width: 100%;
    cursor: default;
    font-family:'Roboto', sans-serif;
    color: white;
 }
 
 